@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#web_bg {
    background: linear-gradient(-45deg, hsl(25, 17%, 90%), hsl(315, 17%, 90%), hsl(205, 17%, 90%), hsl(165, 17%, 90%));
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}
